{{ define "title" -}}
{{ .Title }} | {{ .Site.Title }}
{{- end }}

{{ define "main" }}
<section class="py-5 text-center container-md" style="background: url('{{.Page.Params.banner}}') right center; background-size:cover;">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="game-title">{{.Page.Title}}</h1>
        </div>
    </div>
</section>

<div class="container-md py-2" style="background-color: #{{ .Page.Params.backgroundcolor }};">
        {{.Content}}
</div>
{{ end }}