{{ define "title" -}}
{{ .Title }} | {{ .Site.Title }}
{{- end }}

{{ define "main" }}
<section class="hero is-medium"
    style="background: url('/{{.Page.Params.banner}}')center center; background-size:cover;">
    <div class="hero-body">

        <div class="container has-text-centered">
            <figure class="image is-128x128" style="position: absolute;">
                <img src="https://bulma.io/images/placeholders/128x128.png" style="border-radius: 20px;">
            </figure>
            <h1 class="title">{{.Page.Title}}</h1>
        </div>
    </div>
</section>


<div class="columns is-fullheight">
    <div class="column">
        <section class="hero is-default is-bold">
            <div class="hero-body">
                <div class="content container">
                    {{ .Content}}
                </div>
                <br>
            </div>
        </section>
    </div>
</div>
{{ end }}