{{ define "title" -}}
{{ .Title }} | {{ .Site.Title }}
{{- end }}

{{ define "main" }}
<section class="hero"
    style="background: url('{{.Page.Params.banner}}') right center; background-size:cover;">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="game-title">{{.Page.Title}}</h1>
        </div>
    </div>
</section>

<div class="columns is-fullheight">
    <div class="column">
        <section class="hero is-default is-bold">
            <div class="hero-body">
                <div class="content container">
                    {{ .Content}}
                </div>
                <br>
            </div>
        </section>
    </div>
</div>
{{ end }}