{{ define "main" }}
<div class="album" style="background-color: #eee;"> <!-- style="background: linear-gradient(180deg, rgba(26,20,96,1) 0%, rgba(98,13,85,1) 100%);"--->
    <section class="py-5 text-center container-lg" id="animated-background"
        style="overflow: hidden; background-color: #eee;">
        <div class="row py-lg-5">
            <div class="mx-auto px-5">
                <img src="/icon_pzzl.jpg" alt="Profile picture" style="border-radius: 50%;" class="my-2">
                {{.Content}}
            </div>
        </div>
    </section>
</div>

<div class="album py-5 bg-light" style="background: linear-gradient(180deg, rgba(26,20,96,1) 0%, rgba(98,13,85,1) 100%);">
    <div class="container-lg">
        <h1 class="text-light">My Games</h1>
        <div class="row row-cols-1 row-cols-sm-2 g-4">
            {{ $paginator := .Paginate (where .Site.RegularPages "Type" "game") }}
            {{ range $paginator.Pages }}
            <div class="col">
                <div class="card shadow-sm" style="border-radius: 20px;">
                    <img class="bd-placeholder-img card-img-top" src="/banner_{{.Page.Params.AppName | lower}}.jpg"
                        style="object-fit: cover; object-position: 100% 50%; height: 200px; border-radius: 20px 20px 0 0;" alt="Placeholder image">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-auto">
                                <img src="/icon_{{.Page.Params.AppName | lower}}.jpg" alt="Placeholder image"
                                    style="border-radius: 22%; width: 100px; border: 1px solid lightgray;">
                            </div>
                            <div class="col-md-auto">
                                <h2>{{.Title}}</h2>
                                <p class="card-text">{{.Page.Params.subtitle}}</p>
                            </div>
                        </div>
                        <a href="{{ .Permalink }}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>

<div class="album py-5 bg-light">
    <div class="container-lg">
        <h1 class="text-dark text-center">Contact</h1>
        <p class="text-center">You can drop me an <a href="mailto:contact@twapps.net">e-mail</a> or follow me:</p>
        <ul class="nav justify-content-center">
            <li class="nav-item"><a href="https://twitter.com/madeByTwapps" class="mx-1 btn"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="text-dark" class="bi bi-twitter" viewBox="0 0 16 16">
                <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
              </svg></a></li>
        </ul>

    </div>
</div>

{{ end }}

{{/* {{ define "main" }}
<div class="columns is-fullheight">
    <div class="column">
        <section class="hero is-default is-bold">
            <div class="hero-body">
                <div class="container">
                    <div class="content">
                        {{.Content}}
                    </div>
                    <div class="columns is-multiline">
                        {{ $paginator := .Paginate (where .Site.RegularPages "Type" "game") }}
                        {{ range $paginator.Pages }}
                        <div class="column is-half">
                            <div class="card">
                                <a href="{{ .Permalink }}">
                                    <div class="card-image">
                                        <figure class="image is-4by3">
                                            <img src="/banner_{{.Page.Params.AppName | lower}}.jpg"
                                                style="object-fit: cover; object-position: 100% 50%;"
                                                alt="Placeholder image">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-left">
                                                <figure class="image is-48x100">
                                                    <img src="/icon_{{.Page.Params.AppName | lower}}.jpg"
                                                        alt="Placeholder image"
                                                        style="border-radius: 22%; width: 100px;">
                                                </figure>
                                            </div>
                                            <div class="media-content">
                                                <p class="title is-3 is-vcentered">{{.Page.Params.Title}}</p>
                                                <p class="subtitle is-6">{{.Page.Params.subtitle}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        {{ end }}
                    </div>
                </div>
                <br>
            </div>
        </section>
    </div>

</div>
{{ end }} */}}