<header>
  <nav class="navbar navbar-dark bg-dark sticky-top">
    <div class="container">
      <a href="{{ .Site.BaseURL }}" class="navbar-brand d-flex align-items-center">
        Tobias<strong>Werner</strong>
      </a>
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link text-light" href="/#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/#games">Games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/blog/">Blog</a>
          </li>
        </ul>
    </div>
  </nav>
</header>