{{ define "main" }}

<div id="about" class="album">
    <section class="py-5 text-center" id="animated-background" style="overflow: hidden; min-height: 440px;">
        <div class="row py-lg-5">
            <div class="mx-auto px-5">
                <img src="/icon_pzzl.jpg" alt="Profile picture" style="border-radius: 50%;" class="my-2">
                <div style="max-width: 500px;">{{.Content}}</div>
                <ul class="nav justify-content-center">
                    <li class="nav-item"><a href="mailto:contact@twapps.net" class="mx-1 btn"><svg
                                xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="text-dark"
                                class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                <path
                                    d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z" />
                            </svg></a></li>
                    <li class="nav-item"><a href="https://twitter.com/madeByTwapps" class="mx-1 btn"><svg
                                xmlns="http://www.w3.org/2000/svg" width="50" height="30" fill="text-dark"
                                class="bi bi-twitter" viewBox="0 0 16 16">
                                <path
                                    d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z" />
                            </svg></a></li>
                </ul>
            </div>
        </div>
    </section>
</div>

<div class="album py-5" style="background: linear-gradient(180deg, rgba(26,20,96,1) 0%, rgba(98,13,85,1) 100%);">
    <div class="container-lg">
        <h1 class="text-light" id="games">Games</h1>
        <div class="row row-cols-1 row-cols-sm-2 g-4">
            {{ $paginator := .Paginate (where .Site.RegularPages "Type" "game") }}
            {{ range $paginator.Pages }}
            <div class="col">
                <div class="card" style="border-radius: 20px; background-color: #{{.Page.Params.backgroundcolor}};">
                    <img class="bd-placeholder-img card-img-top" src="/banner_{{.Page.Params.AppName | lower}}.jpg"
                        style="object-fit: cover; object-position: 100% 50%; height: 200px; border-radius: 20px 20px 0 0;"
                        alt="Placeholder image">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-auto">
                                <img src="/icon_{{.Page.Params.AppName | lower}}.jpg" alt="Placeholder image"
                                    style="border-radius: 22%; width: 100px; border: 1px solid lightgray;">
                            </div>
                            <div class="col-md-auto">
                                <h2>{{.Title}}</h2>
                                <p class="card-text">{{.Page.Params.subtitle}}</p>
                            </div>
                        </div>
                        <a href="{{ .Permalink }}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>

{{/*  <div class="album">
    <div class="container-md py-2" style="min-height: 75vh;">
        <h1 class="text-dark" id="games">Recent Posts</h1>
        <div class="row">
            {{- range ( where site.RegularPages "Section" "blog" | first 3 ) }}
            <div class="card flex-row flex-lg-nowrap flex-wrap border-0 my-4" style="background-color: #F4F5F1;">
                <div class="border-0 col-8-sm d-flex flex-wrap align-items-center">
                    <img src="//placehold.it/800x400" alt="" style="max-width: 100%;" />
                </div>
                <div class="col-8-sm mt-1 ps-0 ps-lg-2">
                    <h2 class="card-title">{{.Title}}</h2>
                    <p class="card-text text-muted">
                        <i>{{ .PublishDate.Format "January 2, 2006" }}</i> &#x2022;
                        {{ $taxonomy := "tags" }} {{ with .Param $taxonomy }}
                        {{ range $index, $tag := . }} {{ with $.Site.GetPage (printf "/%s/%s"
                        $taxonomy $tag) -}}
                        <a href="{{ .Permalink }}" style="text-decoration: none;">
                            <span class="badge bg-light text-muted rounded-pill">{{ $tag | urlize }}</span>
                        </a>
                        {{- end -}} {{- end -}}
                        {{ end }}
                    </p>
                    <p class="card-text text-wrap" style="text-align: justify;">{{.Page.Summary}}</p>
                    <a href="{{ .Permalink }}">Read more..</a>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>  */}}
{{ end }}