{{ if len .Params | eq 1 }}
<a href="{{ .Get 0 }}?itsct=apps_box_badge&amp;itscg=30200"
    style="display: inline-block; overflow: hidden; border-radius: 13px; width: 250px; height: 83px;"><img
        src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-us?size=250x83&amp;releaseDate=1501113600"
        alt="Download on the App Store" style="border-radius: 13px; width: 250px; height: 83px;"></a>
{{ else }}
    <em style="color: red;">Please provide the app url to display the badge.</em>
{{ end}}